.blue {
color: #2761F5;
}

.center-flex {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 0.5vh;
                flex-direction: column;
            }