{% extends "index.html" %}

{% block content %}
<div style="text-align: center" >
    <h1>Welcome to the homepage</h1> <br>
    <h4>On this app you'll be able to keep track of your students by being able to...</h4>
    <hr>
    <div class="center-flex">
        <ul>
            <li>Order their <strong>grades</strong></li>
            <li>Sort by <strong>classes</strong></li>
            <li>Add a <strong>student</strong></li>
        </ul>
    </div>
    <p>And much more... take a look at the rest of the options on the nav bar and explore the app :P</p>
</div>

{% endblock %}